.header-title{
    display: flex;
    justify-content: space-between;   
}
.header-menu{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem;
}
.header-menu label{
  margin   : 0 1rem ;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px; float: left; width: 48%;}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: start;
    background-color: #ffffff;
    border-left: 6px solid rgb(255, 223, 79);
    border-radius : 5px ; 
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: small;
    align-content: center;
  }
  .align-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.booklist{
    width: auto;
    margin-left: 1%;
    padding: 1%;
}
.hamberger{
    width: 250px;
    font-size: small;
}
.comming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input{
  width: fit-content;
}
.drawer{
  margin-top: 0.7rem;
}
.header{
  color: rgb(0, 111, 148);
}